@import "reset";
@import "variables";
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    background-image: url('~@/assets/img/background-textures.png');
    font-family: Verdana;
    min-height: 100%; // display: flex;
}